.wrapper {
  min-height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/src/assets/images/health_keeper.webp");
  padding: 20px;

  @media (max-width: $mantine-breakpoint-sm) {
    form {
      width: 100%;
    }
  }
}

.form {
  width: rem(450px);
  padding-top: rem(80px);
  border-radius: 14px !important;

  @media (max-width: $mantine-breakpoint-sm) {
    width: 100%;
  }
}

.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-family: Greycliff CF, var(--mantine-font-family);
}