
/* Input.module.css */

.input {
    border: 1px solid;
    border-color: var(--theme-primary-color-5);
    text-align: center;
    background-color:white;
}

.inputNumber input{
    border: 1px solid;
    border-color: var(--theme-tertiary-color-0);
    text-align: center;
    background-color:white;

}

.inputText input{
    border: 1px solid;
    border-color: var(--theme-tertiary-color-0);
    text-align: left!important;
    font-size: 12px!important;
    width: 100%;
    background-color:white;
    padding-left:8px!important;
    border-radius: 2px!important;
}
.inputText select{
    border: 1px solid;
    border-color: var(--theme-tertiary-color-0);
    text-align: left!important;
    font-size: 12px!important;
    width: 100%;
    background-color: #f7f7f5;
    padding-left:8px!important;
    border-radius: 2px!important;
}

/* Style the placeholder */

.input::placeholder {
    color: #868e96;
    opacity: 1;
}

.input{
    transition: none;
&:focus-within {
     border: 1px solid;
     border-color: var(--theme-secondary-color-5);
     background: #fbf7ef;
 }
}

