.wrapper {

  background-position: center center;
  background-size: cover;
  background-image: url('../images/POS.png');
}

.form {
  min-height: rem(900px);
  max-width: rem(300px);
  padding-top: rem(80px);

  @media (max-width: $mantine-breakpoint-sm) {
    max-width: 100%;
  }
}

.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
}

.card {
  background-color: var(--mantine-color-body);
}

.avatar {
  border: rem(2px) solid var(--mantine-color-body);
}


.controls {
  @media (max-width: $mantine-breakpoint-xs) {
    flex-direction: column-reverse;
  }
}

.control {
  @media (max-width: $mantine-breakpoint-xs) {
    width: 100%;
    text-align: center;
  }
}