
.customTable {
    border-collapse: collapse;
    width: 100%;
}

.customTable td,
.customTable th {
    border: 1px solid var(--theme-tertiary-color-8);
    padding: 4px;
}

.customTable tr {
    border: 1px solid var(--theme-tertiary-color-8);
}

