.label {
    margin-bottom: 0px;
}

/* Input.module.css */
.input {
    border: 1px solid var(--mantine-color-blue-8) !important;
}

/* Style the placeholder */

.input::placeholder {
    color: #868e96;
    opacity: 1;
}

.input {
    border: 1px solid red;
    transition: none;

    &:focus-within {
        border: 1px solid var(--mantine-color-green-8) !important;
        border-color: var(--mantine-color-green-8) !important;
    }
}